body {
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 1em;
    max-width: 45em;
    font-size: 87.5%;
}

body, button, textarea {
    font-family: "맑은 고딕", sans-serif;
}

label {
    margin-left: 0.33em;
}

#status {
    background-color: #d8d8d8;
    border: 1px solid #666;
    margin-right: 0.25em;
    padding: 0.25em 0 0.33em;
    width: 2.25em;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}

.editor {
    margin: 1em 0;
}

textarea {
    margin: 0;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
